
@page{
    size: A4 landscape;}

  

.titulo{
    font-size: 4vw;
    grid-column-start: 2;
    grid-column-end: 3;
    
}
.menu{
    display: none;
    visibility: collapse;
}

.wrapper_cient {
    display: none;
    visibility: collapse;
  }

.add{
    display: none;
    visibility: collapse;
}

.pie{
    float: left;
    max-height: 4vw;
    font-size: 1vw;
    border-radius: 2vw;
    text-align: left;
}
.foto{
    display: none;
    visibility: collapse;
}
.cient{
    display: none;
    visibility: collapse;
}

.icono{
    float: right;
    height: 3vw;
    width: 3vw;
}

.cientifico_desc{
    border-radius: 2vw;
    padding: 1vw;
    text-align: justify;
}
.cient_ft{
    float: right;
}

.twitter{
    display: none;
    visibility: collapse;
}
.facebook{
    display: none;
    visibility: collapse;
    
}
.print{
    display: none;
    visibility: collapse;
}
