/*
Este css es igual que el portada.css pero cambia todos los fondos a blanco y añade contorno a todos
los grids.
*/

body{
    background: white;
}
a{
    color: black;
    text-decoration: none;
}

#wrapper_pr {
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    transition: margin-right 0.5s;
}

.head{

    border: 1px solid black;
    padding: 2vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    gap: 1vw;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    display: grid;
}
.titulo{
    font-size: 4vw;
    grid-column-start: 2;
    grid-column-end: 3;
    
}
.menu{
    background-color: white;
    margin-top: -2vw;
    padding: 2vw;
    grid-row-start: 2;
    text-align: center;
    font-size: 2vw;
    border: 1px solid black;
    cursor: pointer;
}
#menu1{
    border-bottom-left-radius: 2vw;
}
#menu2{
    margin-left: -2vw;
}
#menu3{
    
    border-bottom-right-radius: 2vw;
    margin-left: -2vw;
}
#luz{
    margin: -2vw;
    max-width: 3vw;
    max-height: 5vw;
}


.wrapper_cient {
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: auto;
  }
.box {

    border: 1px solid black;
    padding: 1vw;
    border-radius: 10%;
    text-align-last: center;
    font: 12px system-ui;
}
.add{

    border: 1px solid black;
    border-radius: 2vw;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    text-align: justify;
    padding: 1vw;
}

.pie{

    border: 1px solid black;
    max-height: 4vw;
    font-size: 1vw;
    text-align-last: center;
    border-radius: 2vw;
    grid-column-start: 1;
    grid-column-end: 4;
}
.foto{
    text-transform: capitalize;
    font-weight: bold;
    font-size: large;
}
.cient{
    max-height: 12vw;
    max-width: 12vw;
    border-radius: 50%;
}

.icono{
    grid-column-start: 1;
    grid-column-end: 2;
    height: 9vw;
    width: 9vw;
}

.cientifico_desc{
    border: 1px solid black;
    border-radius: 2vw;
    padding: 1vw;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    text-align: justify;
}
.cient_ft{
    float: right;
}

.twitter{
    border-radius: 50%;
    padding: 1vw;
    margin: 2vw;
    margin-left: 15%;
    font-size: 3vw;
    display: inline-block;
    border: 1px solid black;
    background-color: white;
}
.facebook{
    border-radius: 50%;
    padding: 1vw;
    margin: 2vw;
    margin-left: 15%;
    font-size: 3vw;
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    
}
.print{
    border-radius: 50%;
    padding: 1vw;
    margin: 2vw;
    margin-left: 15%;
    font-size: 3vw;
    display: inline-block;
    border: 1px solid black;
}

.sidebar {
    display: grid;
    border: 1px solid black;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .sidebar .closebtn {
    color: black;
    cursor: pointer;
    top: 0;
    right: 25px;
    font-size: 36px;
    padding: 10px;
  }
  .ejemplos{
    border: 1px solid black;
    height: min-content;
    border-radius: 2vw;
    padding: 0.5vw;
    width: 80%;
    font-size: small;
    margin-left: 2vw;
  }
  .ejemplos h3{
      color: gray;
      font-weight: lighter;
      font-style: oblique;
  }

  .comentarios{
      text-align: center;
  }

  .comentarios textarea {
    width: 80%;
    border-radius: 2vw;
    padding: 0.5vw;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    border: 1px solid black;
    background: #f1f1f1;
    resize: none;
    min-height: 20px;
  }


#comment_ej{
    visibility: hidden;
}